#version=RHEL7
# autostep --autoscreenshot
# System authorization information
auth --enableshadow --passalgo=sha512

install
# URL
url --url="{{ centos_install.url }}"

# Run the Setup Agent on first boot
firstboot --enable
#ignoredisk --only-use=vda,vdb
# Keyboard layouts
keyboard --vckeymap=fr --xlayouts='fr (oss)'
# System language
lang fr_FR.UTF-8

# FW
firewall --enabled --ssh

# logging
logging --level=error

# Network information
network  --bootproto=static --device=eth0 --gateway={{ pki_vm.l3.interfaces.0.gw }} --ip={{ pki_vm.l3.interfaces.0.ip }} --nameserver={{ pki_vm.l3.dns.0 }},{{ pki_vm.l3.dns.1 }} --netmask={{ pki_vm.l3.interfaces.0.nm }} --ipv6=auto --activate
network  --hostname={{ pki_vm.name }}.{{ pki_vm.domain_name }}
# Root password
rootpw {{ pki_vm.root_pw }}
#rootpw --iscrypted $6$cpZhz31nCR5jRkCu$eIzJpMKV9GLWMqNFMWnn0jyueRUNuLxELrVCNTofuXqR8Ai8veLHIXu5tSTXQaaCzHDHixbTk.a8LVt7pEYFQ0
# System timezone
timezone Europe/Paris --isUtc
# System bootloader configuration
bootloader --location=mbr --boot-drive=vda
# Partition clearing information
clearpart --initlabel --all
# Disk partitioning information
part /boot --fstype="xfs" --asprimary --ondrive=vda --label=boot --size=1024
part pv.1 --fstype="lvmpv" --asprimary --ondrive=vda --size=1024 --grow
part pv.10 --fstype="lvmpv" --asprimary --ondrive=vdb --size=1024 --grow
volgroup {{ pki_vm.vg.system }} --pesize=32768 pv.1
volgroup {{ pki_vm.vg.app.0 }} --pesize=32768 pv.10
logvol /  --fstype="xfs" --size=20480 --label="root" --name=root --vgname={{ pki_vm.vg.system }}
logvol /var  --fstype="xfs" --size=5120 --label="var" --name=var --vgname={{ pki_vm.vg.system }}
logvol /tmp  --fstype="xfs" --size=2048 --label="tmp" --name=tmp --vgname={{ pki_vm.vg.system }}
logvol /data/oufy_ca  --fstype="xfs" --size=1024 --grow --label="oufyca" --name=oufyca --vgname={{ pki_vm.vg.app.0 }}

eula --agreed
reboot

services --enabled=sshd

selinux --enforcing


%packages
@core
aide
esc
libreswan
pam_pkcs11
%end


%addon org_fedora_oscap
    content-type = scap-security-guide
    profile = xccdf_org.ssgproject.content_profile_pci-dss
%end

%addon com_redhat_kdump --disable
%end
